header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
}
header h1 {
  text-transform: uppercase;
  color: #03A86C;
  font-size: 42px;
}

header .user-info {
  display: flex;
  justify-content:space-between;
  gap: 50px;
  font-size: 18px
}
